@layer base {
  body {
    @apply bg-background dark:bg-background-dark selection:bg-primary dark:selection:bg-primary-dark selection:text-text-dark dark:selection:text-text;
  }

  h1,
  h2,
  h3 {
    @apply primary-color-text font-serif mt-3 mb-2;
  }

  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl mt-3 mb-1;
  }
  h3 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  p,
  span {
    @apply font-sans text-text dark:text-text-dark regular-text leading-7;
  }

  /* a {
    @apply primary-color-text underline regular-text italic font-serif;
  } */

  button {
    @apply cursor-pointer;
  }

  img {
    @apply rounded-md;
  }

  ul {
    @apply list-disc list-inside;
  }
}
