@layer base {
  body {
    @apply bg-background selection:bg-primary selection:text-text-dark;
  }

  h1,
  h2,
  h3 {
    @apply primary-color-text font-serif mt-3 mb-0.5 md:mb-2;
  }

  h1 {
    @apply text-5xl md:text-6xl lg:text-7xl leading-13 md:leading-20 lg:leading-22;
  }
  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl mt-3 mb-1;
  }
  h3 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  p,
  span {
    @apply font-sans text-text regular-text leading-7;
  }

  button {
    @apply cursor-pointer;
  }

  img {
    @apply rounded-md;
  }

  ul {
    @apply list-disc list-inside;
  }
}
