@layer components {
  .btn-primary,
  .btn-neutral {
    @apply py-1.5 px-6 rounded-md text-base grow;

    &:not(:last-child) {
      @apply mr-1;
    }
  }

  .btn-primary {
    @apply bg-primary text-text-dark;
  }

  .btn-neutral {
    @apply border-1 border-primary text-primary;
  }

  .tag {
    @apply text-xs uppercase bg-text text-text-dark font-semibold h-5 flex items-center px-3 rounded-sm whitespace-break-spaces;
  }

  .icon-tech {
    @apply inline-flex justify-center items-center h-20 w-20 md:h-24 md:w-24 lg:h-28 lg:w-28 flex-col my-3;

    & svg {
      @apply h-full w-full text-text;
    }

    & span {
      @apply mt-1 text-sm;
    }
  }

  .icon-regular {
    @apply inline-flex h-6 w-6 md:h-7 md:w-7 lg:h-9 lg:w-9 cursor-pointer mx-2 my-1;

    & svg {
      @apply h-full w-full text-text hover:text-primary transition-colors;
    }
  }

  .content {
    &:not(:last-child) {
      @apply mb-10;
    }

    & p:not(:last-child) {
      @apply mb-8;
    }
  }

  .card {
    @apply border-1 border-text p-4 w-[288px] rounded-md overflow-hidden;

    & img {
      @apply mb-3 w-[300px] h-45 object-center object-cover;
    }

    & p {
      @apply text-base;
    }
  }

  .project {
    @apply md:flex md:flex-row-reverse md:items-start md:justify-around w-full;

    &:not(:last-child) {
      @apply mb-20 lg:mb-25;
    }

    & div {
      @apply lg:w-md;
    }

    & picture {
      @apply w-140 h-[13.23rem];
    }
  }

  .text-link {
    @apply border-b-primary border-b-4 shadow-[inset_0_-0.125em_0_primary] transition-[box-shadow,color] duration-270 ease-[cubic-bezier(0.77,0,0.175,1)];
    @apply hover:shadow-[inset_0_-1.125em_0_primary] hover:text-text-dark hover:shadow-primary;
    @apply focus:bg-primary focus:text-text-dark;
  }

  .timeline {
    @apply relative;

    /* timeline line */
    @apply before:content-[''] before:h-full before:w-0.5 before:bg-text before:absolute before:left-1/2 before:z-0 before:-translate-x-1/2 max-sm:transform-none;
    @apply max-sm:before:left-[4%] max-sm:transform-none;

    & ol {
      @apply flex flex-col gap-7 md:self-end;
    }

    & h3 {
      @apply font-semibold italic;
    }

    & .entry {
      @apply flex flex-col gap-1 mb-8 w-1/2 max-sm:w-[90%] max-sm:self-end px-5;

      /* circle */
      @apply after:absolute after:content-[''] after:w-6 after:h-6 after:bg-text after:z-1 after:left-1/2 after:-translate-x-1/2 after:rounded-xl max-sm:after:left-[4%] after:border-7 after:border-background;

      & h3 {
        @apply mt-0;
      }
    }

    & .entry:nth-child(even) {
      @apply self-end;
    }

    & .title {
      @apply text-primary font-semibold italic;
    }
  }

  .cs-h-img {
    /* case study header image */
    @apply max-w-244 w-full;

    & img {
      @apply mt-5 w-full h-full object-cover object-center;
    }
  }

  .navbar {
    @apply bg-text w-full p-4;

    & ul {
      @apply list-none flex justify-center gap-15 md:gap-25 uppercase text-text-dark text-sm;
    }
  }

  .navlink {
    @apply border-b-primary border-b-4 shadow-[inset_0_-0.125em_0_primary] transition-[box-shadow,color] duration-270 ease-[cubic-bezier(0.77,0,0.175,1)];
    @apply hover:shadow-[inset_0_-1.125em_0_primary] hover:text-text-dark hover:shadow-primary;
    @apply focus:bg-primary focus:text-text-dark;
  }

  footer {
    @apply bg-text w-full p-4 text-text-dark text-sm mt-20 text-center;
  }
}
