@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";
@import "./styles/base.css";
@import "./styles/components.css";
@import "./styles/theme.css";
@import "./styles/utilities.css";
